{% extends 'base.html' %}
{% block content %}

    <!-- banner -->
    <div id="carouselExampleControls" class="carousel slide container p-3" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1664352328095_appkudaweb.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1669290985353_web.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1667241256491_web.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- movies -->
    <div class="container ">
        <h3 class="text-center pt-3 ">Recommended Movies</h3>
        <div class="row align-items-center">
          <div class="col">
            <div class="card m-3" style="width: 80%;">
              <div class="container">
                <img src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/jaya-jaya-jaya-jaya-hey-et00342643-1666009997.jpg" class="card-img-top p-1" alt="">
              </div>
              <div style="min-height: 100px;text-align: center;" > 
                <p class="card-text">comedy|drama|comedy| </p>
                <h5 class="card-title">Jaya Jaya Jaya Jaya Heyttttttttttttttttt</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card m-3" style="width: 80%;">
                <div class="container" style="min-width:fit-content">
                  <img src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/gold-et00333494-1657165587.jpg" class="card-img-top" alt="">
                </div>
                <div style="min-height:100px ;text-align: center;">
                  <p class="card-text">comedy | drama </p>
                  <h5 class="card-title">Gold</h5>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card m-3" style="width: 80%;">
                <div class="container">
                <img src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/aanaparambile-world-cup-et00345252-1669117896.jpg" class="card-img-top" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Aanaparambile World Cup</h5>
                  <p class="card-text">Drama</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card m-3" style="width: 80%;">
                <div class="container">
                <img src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/aanaparambile-world-cup-et00345252-1669117896.jpg" class="card-img-top" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Aanaparambile World Cup</h5>
                  <p class="card-text">Drama</p>
                </div>
            </div>
          </div>
        </div>
    </div>



{% endblock %}


  